# CONSTRUCCIÓN DE CARTERA FINANCIERA

### Librerías

In [1]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\kivef\appdata\local\programs\python\python312\lib\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\kivef\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\kivef\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kivef\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\kivef\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in c:\users\kivef\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.0.1)
Requirement already satisfied: packaging>=20.0 in c:\users\kivef\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\kivef\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\kivef\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\kivef\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\kivef\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [49]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### LECTURA DE BASE DE DATOS

### entramos a data, dos puntos para salir y entrar a la carpeta data

In [4]:
data_route = '../data/'

### variables

In [5]:
expenses_filename = 'expenses.csv'
incomes_filename = 'incomes.csv'

### creamos una instancia, ejemplo: expenses será pd.read_csv(la ruta + la variable) osea devuelve una instancia de una clase dataframe

In [13]:
expenses = pd.read_csv(data_route+expenses_filename)
incomes = pd.read_csv(data_route+incomes_filename)

### esto es un dataframe, lee nuestra base de datos pero es una clase que se ve como nuestra base de datos

In [7]:
expenses

Empty DataFrame
Columns: [DATE, AMOUNT, CATEGORY, THIRD-PARTY, DESCRIPTION]
Index: []

In [14]:
incomes

         DATE  AMOUNT  CATEGORY THIRD-PARTY           DESCRIPTION
0  10-09-2024     500  VARIABLE        PNSP  Inscripción de curso

In [15]:
incomes.columns

Index(['DATE', 'AMOUNT', 'CATEGORY', 'THIRD-PARTY', 'DESCRIPTION'], dtype='object')

In [16]:
incomes['DATE']

0    10-09-2024
Name: DATE, dtype: object

In [17]:
incomes['AMOUNT']

0    500
Name: AMOUNT, dtype: int64

In [37]:
incomes['AMOUNT'].sum()

np.int64(1900)

In [20]:
incomes.loc[0]

DATE                     10-09-2024
AMOUNT                          500
CATEGORY                   VARIABLE
THIRD-PARTY                    PNSP
DESCRIPTION    Inscripción de curso
Name: 0, dtype: object

In [21]:
incomes.loc[0]['DESCRIPTION']

'Inscripción de curso'

In [35]:
n = len(incomes)
print(n)

4

In [34]:
incomes.loc[n] = ['10-09-2024',800,'VARIABLE','PNSP','CURSO ITENSIVO DE PYTHON']

In [36]:
incomes

         DATE  AMOUNT  CATEGORY THIRD-PARTY               DESCRIPTION
0  10-09-2024     500  VARIABLE        PNSP      Inscripción de curso
1  10-09-2024     300  VARIABLE        PNSP  CURSO ITENSIVO DE PYTHON
2  10-09-2024     300  VARIABLE        PNSP  CURSO ITENSIVO DE PYTHON
3  10-09-2024     800  VARIABLE        PNSP  CURSO ITENSIVO DE PYTHON

### Construcción de la clase

In [62]:
class FWallet:
    def __init__(self,inputs):
        self.inputs = inputs
        self.incomes = pd.read_csv(self.inputs['data_route']+self.inputs['incomes_filename'])
        self.expenses = pd.read_csv(self.inputs['data_route']+self.inputs['expenses_filename'])
        
    ### ACTIONS TO PERFORM ###

    #Add income to database
    def add_income(self):
        date = input('date: ')
        amount = input('amount: ')
        category = input('category: ')
        third_party = input('third_party: ')
        description = input('description: ')

        new_income = [date,amount,category,third_party,description]

        n = len(self.incomes)
        self.incomes.loc[n] = new_income

    #Calculate total income
    def total_income(self):
        pass

    #Calculate total expense
    def total_expense(self):
        pass

    #Calculate balance = income - expense
    def balance(self):
        pass

    #Create financial report using te functions above
    def financial_report(self):
        pass

In [58]:
inputs = {
    'data_route' : '../data/',
    'expenses_filename' : 'expenses.csv',
    'incomes_filename' : 'incomes.csv'
}

In [59]:
cartera = FWallet(inputs)

In [60]:
cartera.incomes

         DATE  AMOUNT  CATEGORY THIRD-PARTY           DESCRIPTION
0  10-09-2024     500  VARIABLE        PNSP  Inscripción de curso

In [63]:
cartera.add_income()

date:  11-09-2024
amount:  420
category:  VARIABLE
third_party:  TRABAJO EXTERNO
description:  CHAMBA DE DON ANGEL

NameError: name 'third_party_description' is not defined